* {
  box-sizing: border-box;
}

#experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container.experience__container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.container.experience__backend{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  padding: 0 10px;
}

p {
  text-align: center;
  margin-top: 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(249, 244, 244, 0.2);
  height: 150px;
  /* Update the height to your desired value */
  width: 100px;
  /* Update the width to your desired value */
  padding: 16px;
  border: 1px solid rgb(173, 148, 148);
  /* Add border */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}